.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
	color: white;
}

.avatar img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 180px;
    object-fit: cover;
    object-position: center;
}
.avatar .whois {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avatar .whois .name {
    font-size: 1.3rem;
    font-weight: 600;
}

.avatar .whois .desig {
    font-weight: 100;
    line-height: 1em;

}