.news-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: var(--card-width);
    padding: 10px;
    box-shadow: var(--shadow);
    color: #000;
}


.news-card img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    object-position: top;
}

.news-card label {
    font-size: 10px;
    width: 100%;
    text-align: right;
    line-height: 1em;
    padding-top: 5px;
    color: var(--grey-text);
}
.news-card .article {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em; /* Adjust based on your desired line height */
    height: calc(1.2em * 2); /* Line height * number of lines */
    color: var(--grey-text);
}

.news-card .heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    align-self: start;
    height: 2.4em;
}