.homepage {
    width: min(100%, 1280px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("/assets/banner/HomeBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    padding-top: var(--navbar-height);
    gap: 3rem;
}

.homepage .banner .text {
    width: 70%;
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.homepage .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    min-height: 100vh;
}

.homepage .projects > .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
    align-self: start;
    padding-left: 10rem
}

.homepage .project-deal {
    width: 100%;
    height: 100vh;
    background: var(--blue-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homepage .about-section .about {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
.homepage .about-section .about > .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
    color: var(--blue);

}

.homepage .about-section .about .bullets {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto;
    margin-top: 1rem;
    row-gap: 1rem;
    position: relative;
    font-weight: 500;
    padding-left: 10px;
} 

.homepage .about-section .about button {
    margin-top: 2rem;
}
.homepage .about-section .about .bullets i {
    background: var(--mix-background);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    padding: 5px;
}

.homepage .about-section .about .bullets .vertical-bar {
    position: absolute;
    height: 100%;
    left: 23px;
    width: 2px;
    background-color: rgb(171, 171, 171);
    z-index: -1
}

.homepage .about-section img {
    width: 40%;
}

.homepage .story-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background: var(--blue-background);
}
.homepage .story-wrapper > .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
    color: #fff;
    padding-bottom: 1rem
}

.homepage .story-wrapper .carousel-wrapper .direction {
    border:none;
    background-color: transparent;  
}
.homepage .story-wrapper .carousel-wrapper i {
    color: #fff
}

.homepage .news-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    color: var(--blue);
    height: 90vh;
}

.homepage .news-wrapper > .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
    align-self: flex-start;
    padding-left: 10rem;
}