.search-box {
	width: min(50%, 1000px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	z-index: 1;
	/* background-color: black; */
	/* padding: 1rem; */
	border-radius: var(--border-radius);
}
.search-box .price-range {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	/* gap: 10px; */
	background-color: rgba(255, 255, 255);
	padding: 10px 20px 5px 20px;
	border-radius: var(--border-radius);
	color: rgb(0, 0, 0);
	
	font-weight: 500;
}
.search-box .price-range .slider {
	flex-grow: 1;
	width: 100%;
	border: 0px solid red;
}
.search-box .row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 0.5rem;
}
.search-box .row .search-input .ant-input-group-addon, .search-box .row .search-input .ant-input-affix-wrapper{
	border-radius: var(--border-radius);
	background: rgba(255, 255, 255);
}

@media only screen and (max-width: 720px) {
	.search-box {
		width: 90%;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.search-box .price-range {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.search-box .row {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
	}
	.search-box .price-range .slider{
		width: 100%;
	}
}
