.custom-btn {
    font-size: 1rem;
    color: #fff;
    /* letter-spacing: 0.2em; */
    padding: 10px 20px;
    margin: 5px;

    box-shadow: var(--shadow);
    background: var(--mix-background);
    font-weight: 400;

    transition: all ease 0.3s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.custom-btn:hover {
    transform: scale(1.05);
}

.invert {
    color: var(--blue);
    background: white;
}

.invert:hover {
    background: var(--hover-grey)
}
