footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, var(--app-width));
    flex-direction: column;
    background: var(--blue-background);
    color: #fff;
    position:relative;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 3rem;
    width: 100%;
    padding-top: 50px;
}

.footer .about-col {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.footer .about-col .brandname {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    gap: 1rem;

}

.footer .about-col .brandname img {
    width: 50px;
}

.footer .about-col .desc {
    font-size: 0.9rem;
    padding-top: 1rem;
    color: #c8c8c8
}

.footer .about-col .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
}

/* .footer .about-col .social .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mix-background);
    border-radius: 50%;
    padding: 5px;
    transition: all ease 0.2s;
} */

/* .footer .about-col .social .icon img {
    width: 30px;
}

.footer .about-col .social .icon:hover {
    transform :translateY(-5px);
} */


.footer .link-col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    padding-top: 1rem;
}

.footer .link-col .quicklink{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.footer .link-col .quicklink.extra {
    display: none
}

.footer .link-col .quicklink .heading {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
}

.footer .link-col .quicklink .link {
    font-weight: 200;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 5px;
}

.footer .link-col .quicklink .link i {
    font-size: 20px
}

footer .extra-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    padding: 1rem 2px;
    border-top: 1px solid #fff;
    margin-top: 1rem
}

footer .extra-links a {
    text-decoration: none;
}

footer .rights {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
}

footer .link{
    transition: all ease 0.2s;
    cursor: pointer;
    position: relative;
    line-height: 1em;
    padding: 10px 0px
}
footer .link::before {
    content: "";
    position:absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 0.5px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #fff;
    transition: all ease 0.2s;
}

footer .advertise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--mix-background);
    padding: 4rem 3rem;

}

footer .advertise .question {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

footer .link:hover{
    color: var(--cyan);
}
footer .link:hover::before {
    transform: scaleX(1);
}

footer .floating-social {
    display: none;
}

@media only screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        width: 100%
    }

    footer .advertise {
        flex-direction: column;
        height: max-content;
        gap: 1.5rem;
        text-align: center;
        padding-top: 2rem;
    }

    footer .extra-links {
        display: none;
    }

    .footer .link-col {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
    }
    .footer .about-col {
        width: 100%;
    }

    .footer .link-col .quicklink.extra {
        display: flex;
    }

    .footer .link-col .quicklink {
        width: 70%;
    }

    footer .floating-social {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 5rem;
        gap: 2rem;
        right: 2rem;
    }

    .footer {
        padding: 1rem 1.5rem;
    }

    .footer .about-col .social {
        display: none;
    }

    footer .rights {
        border-top: 1px solid #fff;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    footer .advertise {
        padding: 3rem 1rem;
    }
}