.trending-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem;
    border: 0px solid green;
    width: 30rem;
    height: 9rem;
    /* margin: 10rem; */
    color: #fff;
}

.trending-post .content {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.trending-post .content .head-byline {
    font-size: 0.8rem;
    font-weight: 300;
    color: #6083B4;
}

.trending-post .content .post-heading {
    font-size: 1rem;
    font-weight: 400;
}

.trending-post .content .desc {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    line-height: 1.1rem;
    color: #E0E2E5;
    line-clamp: 4;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
}

.trending-post .content .buttongrp {
    font-size: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
}

.trending-post .content .buttongrp button {
    border-radius: 3px !important; 
    box-shadow: none !important;
}


.trending-post .banner {
    /* border: 1px solid blue; */
    border-radius: var(--border-radius);
    /* overflow: hidden; */
    aspect-ratio: 1/1;
    height: 100%;
}

.trending-post .banner img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 500px) {
    .trending-post{
        width: 100%;
    }
    .trending-post .content .desc {
        display: none;
    }

    .trending-post .content .head-byline {
        font-size: 0.9rem;
        font-weight: 500;
    }
    
    .trending-post .content .post-heading {
        font-size: 1.2rem;
    }


}