.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-wrapper .direction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--blue);
    cursor: pointer;
}

.carousel-wrapper .direction .material-icons {
    font-size: 20px;
}

.carousel-wrapper .carousel {
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper .carousel .items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 1rem;
    /* border: 1px solid black; */
    transition: all ease 0.3s;
}

.indicator-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.indicator-wrapper .indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.indicator-wrapper .indicators .dot {
    width: 7px;
    height: 7px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}

.indicator-wrapper .indicators .dot.active {
    width: 10px;
    height: 10px;
    background: var(--cyan);
}