.project-desc {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 450px;
    color: #fff;
}

.project-desc .banner {
    width: 50%;
    height: 8rem;
}

.project-desc .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-desc .info {
    width: 50%;
    padding-left: 0.3rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    line-height: 1.4rem;
    gap: 5px
}

.project-desc .info .pname {
    font-weight: 700;
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
}

.project-desc .info .highlights-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding-top: 0.2rem;
}

@media only screen and (max-width: 950px) {
    /* .project-desc .banner {
        display: none;
    } */
    .project-desc .info {
        width: 100%;
    }
/* 
    .project-desc {
        width: max-content
    } */
}