.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0px solid blue;
    margin: auto;
}

.carousel-wrapper .direction {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    border-radius: 50%;
    width: min-content;
    /* border: 3px solid var(--blue); */
    cursor: pointer;
    /* color: green; */
}

.carousel-wrapper .direction img {
    aspect-ratio: 1/1;
    width: 30px;
}

.carousel-wrapper .carousel {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 0px solid red;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper .carousel .items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border: 0px solid yellow;
    transition: all ease 0.3s;
}

.carousel-wrapper .indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.carousel-wrapper .indicators .dot {
    width: 20px;
    height: 2.5px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: var(--border-radius);
    background: var(--cyan);
    opacity: 50%;
}

.carousel-wrapper .indicators .dot.active {
    width: 30px;
    height: 2.5px;
    background: var(--cyan);
    opacity: 100%;
}
.carousel-wrapper .controller-indicator{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.carousel-wrapper .controller-wrapper{
    max-width: 100%;
}