.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%, 1280px);
    flex-direction: column;
}

.projects > .banner {
    background: url("/assets/banner/Projectbanner.png");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects .choice-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    min-height: 100vh;
}

.projects .choice-wrapper > .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
    align-self: start;
    padding-left: 10rem;
}

.projects .request-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-background);
    width: 100%;
    height: min-content
}

.projects .sale-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.projects .sale-wrapper .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
}

.projects .sale-wrapper .headline .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;
}