.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(100%, var(--app-width));
    background: var(--blue-dark-background);
    color: #fff;
}

.big-dot {
    aspect-ratio: 1/1;
    /* width: 20px; */
    height: 20px;
    border-radius: 50%;
    background: var(--cyan);
    z-index: 2
}

.about-us .tabs {
    /* margin-top: var(--navbar-height); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 2rem; */
    border-bottom: 1px solid #fff;
    padding: 10px 2px;
    position: sticky;
    top: var(--navbar-height);
    z-index: 100;
    background: var(--blue-dark-background)
}

.about-us .intro {
    display: none;
}

.about-us .tabs .tabitem {
    padding: 10px 20px;
    border-radius: 50px;
    transition: all ease 0.2s;
    position: relative;
    z-index: 0;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

}

.about-us .tabs .tabitem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--mix-background);
    z-index: -1;
    border-radius: 50px;
    opacity: 0;
    transition: all ease 0.3s;
}


.about-us .tabs .tabitem.active::before {
    opacity: 1;
}

.about-us .company {
    margin-top: 1.5rem;
}

.about-us .company,
.about-us .unique {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
    padding: 2rem 1rem;
    gap: 4rem;
    font-size: 0.9rem
}

.about-us .company .heading,
.about-us .unique .heading {
    font-size: var(--heading-textsize);
    font-weight: 600;


}

.about-us .company img,
.about-us .unique img {
    width: 25rem;
}

.about-us .company .left,
.about-us .unique .right  {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.about-us .helping{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    width: 85%;
}

.about-us .heading {
    font-size: var(--heading-textsize);
    font-weight: 700;
}

.about-us .helping .card-container .horizontal {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--cyan);
    top: 55px;
    z-index: 0;
}

.about-us .helping .heading {
    font-weight: 600;
}

.about-us .helping .card-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
}

.helpcard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    z-index: 1;
    padding: 0px 1rem
}

.helpcard .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mix-background);
    border-radius: 50%;

}
.helpcard .icon i{
    font-size: 2rem;
}

.helpcard .topic {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    height: 2em;
} 

.helpcard .detail {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.2em;
    font-weight:100;
}

.about-us .history {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    padding: 5rem 1rem
}

.about-us .history .history-list {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    position: relative;
}

.about-us .history .history-list .vertical {
    position: absolute;
    top: -40px;
    width: 2px;
    height: calc(100% + 40px);
    left: 59px;
    background-color: var(--cyan);
}

.about-us .history .history-list .vertical .leftline {
    position: absolute;
    top: 0;
    width: 2px;
    height: 15px;
    background: var(--cyan);
    transform: rotate(30deg);
    left: -4px
}
.about-us .history .history-list .vertical .rightline {
    position: absolute;
    top: 0;
    width: 2px;
    height: 15px;
    background: var(--cyan);
    transform: rotate(-30deg);
    left: 4px
}

.history-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    line-height: 1em;
}

.history-item .desc .title {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1em;
}

.history-item .desc .para {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2em;
    padding-top: 5px;
}

.valuepoint {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    width: min(30rem, 100%);
}

.valuepoint .icon-area {
    aspect-ratio: 1/1;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-top: 1rem;
    background: var(--mix-background)
}

.valuepoint .icon-area .icon-wrap {
    border: 2px solid #fff;
    aspect-ratio: 1/1;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.valuepoint .icon-area .icon-wrap .bullet-icon {
    transform: rotate(-45deg);
    font-size: 1.5rem;
}

.valuepoint .desc {
    font-size: 0.9rem;
}

.valuepoint .desc h2{
    font-weight: 600;
    padding-bottom: 5px;
}

.about-us .values {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    padding: 3rem 1rem
}

.about-us .values .value-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.about-us .our-team {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    /* min-height: 70vh; */
    padding: 2rem 1rem;
}

.about-us .our-team .executives {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.about-us .our-team .executives .sub-heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.about-us .our-team .executives .members{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}



.about-us .reviews {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    padding: 2rem 1rem;
}

.about-us .reviews .review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 3rem;
}

.about-us .reviewcard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: var(--review-width);
}

.about-us .reviewcard .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #fff;
    padding: 1rem;
}

.about-us .reviewcard .image img {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 50%;
}

.about-us .reviewcard .image .org {
    font-weight: 100;
    line-height: 1em;
    font-size: 0.8rem;
    color: #fff;
}

.about-us .reviewcard .desc {
    font-style: italic;
    color: #fff
}

.about-us .reviewcard .name {
    color: #fff;
}

.about-us .contactus {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 85%;
    flex-direction: column;
    margin-top: 5rem;
    border-top: 1px solid #fff;
    padding: 3rem 1rem;

}

.about-us .contactus .body {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    /* width: 80%; */
}

.about-us .contactus .body .left {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-top: 3rem
}
.about-us .contactus .body .left .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    color: #fff;
}

.about-us .contactus .body .right {
    width: 100%;
}

.about-us .contactus .body .left .link:hover {
    text-decoration: underline;
}

.about-us .helping .how-help {
    display: none;
}

.about-us .value-section {
    display: none;
}

.about-us .reviews .ant-carousel{
    display: none;
}

@media only screen and (max-width: 800px) {

    * {
        --review-width: calc(100vw - 1rem);
    }
    .about-us > section {
        width: 100% !important;
    }
    .about-us .intro {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 1rem;
        width: 100%;
    }

    .about-us .intro img {
        border-radius: 0px;
        width: 100vw;
        padding-top: 2rem;
        margin-left: -1rem;
        /* aspect-ratio: ; */
    }

    .about-us .tabs {
        display: none;
    }

    .about-us .intro .heading {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    .about-us .intro h3 {
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 2rem;
        line-height: 1.2em;
    }

    .about-us .company,
    .about-us .unique {
        flex-direction: column;
    }

    .about-us .company .right img {
        width: 100vw;
    }

    .about-us .unique .left {
        display: none;
    }

    .about-us .helping {
        padding: 2rem 1rem
    }

    .about-us .helping .how-help {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    }

    .about-us .helping .card-container {
        flex-direction: column;
        align-items: center;
        padding: 2rem 5px;
        gap: 1rem;
    }
    .about-us .helping .card-container .horizontal {
        display: none;
    }

    .helpcard {
        background: var(--blue);
        padding: 1rem;
        border-radius: 10px;
        width: min(20rem, 100%);
        gap: 0px;
        border: 1px solid var(--cyan);
    }

    .helpcard .icon {
        background: transparent;
    }
    .helpcard .icon * {
        font-size: 3rem;
    }

    .helpcard .topic {
        line-height: 1em;
    }

    .about-us .history {
        background: var(--mix-background)
    }
    .about-us .history .history-list .vertical,
    .about-us .history .history-list .vertical .rightline,
    .about-us .history .history-list .vertical .leftline,
    .big-dot
    {
        background: var(--blue)
    }

    .about-us .value-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-us .value-section img {
        width: 100vw;
    }

    .about-us .our-team .executives {
        align-items: start;
    }

    .about-us .our-team .executives .members {
        padding-top: 2rem;
    }

    .avatar {
        flex-direction: row;
        gap: 1rem;
    }

    .avatar img {
        width: 140px;
    }

    .avatar .whois {
        align-items: start;
    }

    .valuepoint .icon-area{
        height: 3rem;
    }

    .valuepoint .icon-area .icon-wrap {
        height: 2rem;
    }

    .about-us .reviews .rev-car {
        align-self: center;
    }

    .about-us .reviewcard {
        background: var(--blue);
        padding: 1rem;
        border: 1px solid var(--cyan);
        border-radius: 10px;
    }

    .about-us .reviews .review-container .ant-carousel {
        display: flex;
    }
    .about-us .reviews .review-container > .about-us .reviewcard{
        display: none;
    }

    .about-us .contactus .body{
        flex-direction: column;
    }

    .about-us .contactus {
        border: none;
    }
}